.msgBox {
  position: absolute;

  z-index: 1000;
  background: white;
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 14px;
  width: 325px;
}
.position1 {
  top: 15%;
  left: 60%;
}
.position2 {
  top: 46%;
  left: 66%;
}
.position3 {
  top: 76%;
  left: 64%;
}
.msgTop {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 8px;
}
.logo {
  width: 43px;
  height: 13px;
}
.messageHeading {
  font-size: 12px;
}
.headingBox {
  display: flex;
  gap: 15px;
}
.message {
  font-size: 12px;
  margin-top: 1px;
}
.label {
  font-size: 10px;
}
.tracking {
  position: absolute;
  left: 57%;
  bottom: 19%;
  width: 9px;
}

@media (max-width: 1250px) {
  .msgBox {
    width: 239px;
    padding: 10px;
  }
  .position1 {
    top: 11%;
    left: 62%;
  }

  .position2 {
    top: 42%;
    left: 67%;
  }

  .position3 {
    top: 73%;
    left: 64%;
  }
}
@media (max-width: 880px) {
  .msgBox {
    display: none;
  }
}
